/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;

}

body{
  background-color: #171616;
}


nav{


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 80px 0px 81px;

}

.nav-logo{
   float: left;
  

}


.nav-list{
  list-style-type: none;
  float: right;


}

.nav-item span {
  margin: 0px 5px;
}
.nav-item{
  float: left;
  padding: 0px  20px;
  color: white;
  font-size: 12px;
}

.ham{
  width: 50px;
  display: none;
}

/* Designer Section */


.designer-section{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  

}

.image-section{
     width: 45%;
     
}
.image-section img{
   width: 100%;
   height: 500px;

}

.content-section{
  color: white;
  width: 50%;
}

.content-section h5{
   color: #f91638;
   font-size: 20px;
}
.content-section h2{
  font-size: 4rem;
}
.content-section div{
  width: 80%;
  margin-bottom: 20px;
}

.content-section div p{
 font-size: 14px;
}

.content-section button{
  padding: 10px 40px;
  background-color: #f91638;
  color: white;
  font-size: 20px;
  border: none;
}

/* SERVICE SECTION */

.services-section{
  
  background-image: linear-gradient(to right,#292828 0% ,#292828 50%,#171616 50% ,#171616 100% );
 padding-bottom: 50px; 
}

.service{

}

.services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* padding-bottom: 30px; */
    
}

.card{
  width: 22%;
  
  padding: 10px 12px 10px 20px;
  margin-block: 5%;
  
}
.card-grey{
  background-color: #302e2e;
  

}
.card-red{
  background-color: #f91638;
  color: white;
}

.card-grey img{
  width: 5em;
  padding: 10px 0px ;
}
.card-red img{
  width: 4.5em;
  padding: 10px 0px ;
}

.card h2{
  color: white;
  font-size: 20px;
  padding: 10px 0px ;
}
.card div p{
  color: white;
  font-size: 15px;
  padding: 10px 0px ;
}
.card-grey h4{
  color: #f91638;
  font-size: 14px;
  margin-bottom: 20px;
}
.card-red h4{
  color :white;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Experience Section */


.exp-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
 
}

.exp-section .right-section {
  text-align: center;
}

.exp-section .right-section h1{
  color: #f91638;
  
  margin-bottom: -34px;
   font-size: 90px;
}
.exp-section .left-section h3{
  color: #f91638;
font-size: 40px;
  
}
.exp-section .right-section h3{
  color: white;
  font-size: 30px;
}

.exp-section .left-section h4{
  font-size: 15px;
  color: white;
}
.exp-section .left-section{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.exp-section .left-section .card{
  width: 30% ;
  background-color: #302e2e;
  padding: 10px 30px;
  margin: 5px 5px ;
  text-align: center;
}

/* Project Section */


.Project-section{
  margin-block: 40px;
}
.top{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  width: 80%;
  margin-inline: auto;

}
.Project-section .top h2{
  color: white;
  font-size: 25px;

}
.Project-section .top p{
  color: white;
  font-size: 15px;

}
.Project-section .top button{
 
  padding: 10px 40px ;
  background-color: #f91638;
  color: white;
  font-size: 20px;
  border: none;

}

.middle{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
  justify-content:center;
  gap: 20px;
  
}
.middle .card{
  width: 40%;
  margin: 5px 15px;
}
.middle .card h4{
  color: #f91638;
}

.middle .card img{
  width: 100%;
  background-color: #302e2e;
  padding: 87px 20px;
}

.bottom{
  display: flex;
  flex-wrap: wrap;
  background-color: #302e2e;
  padding-block: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.bottom .left-section{
   width: 62%;
   text-align:left;
   padding: 86px 13px;
}

.bottom .left-section h2{
  color: white;
  font-size: 3rem;
}
.bottom .left-section p{
  color: white;
  font-size: 14px;
}
.bottom .right-section{
  width: 25%;
}

.bottom .right-section button{
  padding: 10px 30px ;
  background-color: #f91638;
  color: white; 
  border: none;
}

.bottom-nav{
 
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
  
 
}
.bottom-nav ul{

  list-style-type: none;
  padding-block: 10%;
}

.bottom-nav ul li{
  float: left;
  padding: 0px 20px ;
  color: white;
}


.footer-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 40px 0px ;
  background-color: #302e2e;
  
}

.footer-logo{
  width: 34%;
  /* margin-left: 20px; */
}

.footer-nav{
  width: 43%;
}
.footer-nav img{
  padding: 0px 20px ;
}



@media only screen  and (max-width:1170px){
  /* Designer Section */

   .image-section img{
    width: 100%;
    height: 350px;
 
    }
    .content-section{
      margin-bottom: 30px;
    }
    .content-section h2{
        font-size: 2.8rem;
      }


      /* SERVICE SECTION */

      .card-grey img,  .card-red img{
        width: 3em;
        padding: 0px;
      }
      .card h2{
        color: white;
        font-size: 15px;
        padding: 5px 0px ;
      }
      .card div p{
       
        font-size: 10px;
        padding: 5px 0px ;
      }
      .card-grey h4{
        color: #f91638;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .card-red h4{
        color :white;
        font-size: 14px;
        margin-bottom: 10px;
      }


      
    /* Project Section */

    



}





@media only screen and (max-width:814px) {
    /*  NAV BAR SECTION   */
    
    nav{
        margin-inline: 20px ;
    }
    .nav-bar{
        display: none;

    }
    .ham{
        display: inline-block;
    }


    /* Designer SECTION */

    .designer-section{
        flex-direction: column;
      }

      .image-section{
        width: 80%;
        
   }
      
    .image-section img{
        width: 100%;
        height: 300px;
    
    }

    .content-section{
        width: 95%;
        text-align: center;
      }
      .content-section div{
        width: 95%;
        margin-bottom: 20px;
      }

      /* Service Section */
      
      .exp-section .left-section .card{
    width: 30% ;
    background-color: #302e2e;
    padding: 10px 20px;
    margin: 5px 5px ;
    text-align: center;
  }
  
      /* Exp Section */
.card{
    width: 250px;
    margin-block: 10px;
    
  }

  /* Project section */

  .top{
    flex-direction: column;
    text-align: center;
    width: 95%;
    margin-inline:auto;
    gap: 20px;
  
  }
  .middle .card{
    width: 300px;
    margin: 5px 15px;
  }
  .middle .card img{
   
    padding: 40px 10px;
  }

  .bottom .left-section{
    width: 100%;
    text-align:center;
    padding: 40px 13px;
 }
 .bottom .left-section h2{
    color: white;
    font-size: 2rem;
  }
 .bottom .right-section{
    width: 100%;
    text-align: center;
  }
  .bottom-nav ul li{
    float: left;
    padding: 0px 7px;
    color: white;
    font-size: 14px;
  }

  .footer-section{
   
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
  }
  
.footer-logo{
    width: 100%;
    /* margin-left: 20px; */
  }
  
  .footer-nav{
    width: 100%;
  }
}